#gwrapper{
   margin:auto;
   width:55%;
   padding:10px;
}

#hguide{
   font-family: 'Farro', sans-serif;
   margin: 30px 0px 25px 0px;
   font-size:27px;
   color: var(--dark);
}

#guide div h3{
   font-size:23px;
   color: rgba(0,0,0,0.85);
   border-bottom:2px solid rgba(0,0,0,0.85);
   margin-bottom:15px;
   margin-left:10px;
}

#guide div h4{
   color: rgba(0,0,0,0.82);
   font-size:20px;
   margin-bottom:10px;
}

.gbox{
   margin-left:20px;
}

.ginfo{
   margin-left:20px;
   font-size: 20px;
   margin-bottom:20px;
}

@media (max-width:1850px) {
   #gwrapper{
      width:60%;
   }
}
@media (max-width:1630px) {
   #gwrapper{
      width:63%;
   }
}

@media (max-width:1430px) {
   #gwrapper{
      width:67%;
   }
}

@media (max-width:1280px) {
   #gwrapper{
      width:71%;
   }
}

@media (max-width:1040px) {
   #gwrapper{
      width:75%;
   }
}

@media (max-width:820px) {
   #gwrapper{
      width:80%;
   }
}

@media (max-width:650px) {
   #gwrapper{
      width:83%;
   }
}

@media (max-width:540px) {
   #gwrapper{
      width:86%;
   }
}

@media (max-width:450px) {
   #gwrapper{
      width:90%;
   }
}
