#index{
   display:flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background: rgb(145,208,255);
   background: -webkit-linear-gradient(83deg, rgba(145,208,255,1) 0%, rgba(168,218,255,1) 51%, rgba(145,208,255,1) 100%);
   background: -o-linear-gradient(83deg, rgba(145,208,255,1) 0%, rgba(168,218,255,1) 51%, rgba(145,208,255,1) 100%);
   background: linear-gradient(173deg, rgba(145,208,255,1) 0%, rgba(168,218,255,1) 51%, rgba(145,208,255,1) 100%);
   text-align: center;
}

#top{
   display:flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

#index header h1{
   font-size: 145px;
}
#index header h2{
   font-size: 25px;
}

#bottom{
   font-size:27px;
   margin-top: 90px;
}

@media (max-width:1850px) {
   #index header h1{
      font-size: 125px;
   }
   #index header h2{
      font-size: 22px;
   }
   #bottom{
      font-size:26px;
      margin-top: 80px;
   }
}

@media (max-width:1400px) {
   #index header h1{
      font-size: 115px;
   }
   #index header h2{
      font-size: 20px;
   }
   #bottom{
      font-size:24px;
      margin-top: 70px;
   }
}

@media (max-width:800px) {
   #index header h1{
      font-size: 100px;
   }
   #index header h2{
      font-size: 18px;
   }
   #bottom{
      font-size:22px;
      margin-top: 65px;
   }
}

@media (max-width:450px) {
   #index header h1{
      font-size: 85px;
   }
   #index header h2{
      font-size: 17px;
   }
   #bottom{
      font-size:21px;
      margin-top: 55px;
   }
}
